.footer {
    background-color: #96F9FF;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0 40px 0;
    gap: 15px;
}

.footer_item {
    color: #040404;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}


.footer_item:hover {
    color: #FCFF75;
}